.results-container {
    max-width: 100%;
    max-height: 100%;
    margin: 15px 55px 15px 55px;
    background-color: rgba(255, 255, 255, 0.3); /* ← AQUÍ la transparencia */
    backdrop-filter: blur(50px); /* ← AQUÍ el efecto cristal */
    border-radius: 16px; /* ← AQUÍ bordes redondeados */
    box-shadow: 0 8px 32px rgba(0,0,0,0.1);
    overflow: hidden;
}

/* Encabezado */
.results-header {
    background-color: rgba(220, 16, 53, 0.8);
    backdrop-filter: blur(10px);
    color: white;
    padding: 20px;
    text-align: center;
}

.results-header h1 {
    margin: 0;
    font-size: 24px;
}

.movies-result-list{
    padding: 0;
    margin: 0;
    list-style: none;
}